.sound-box {
  position: relative;
  background-color: rgba(10, 122, 236, 0.4);
  display: inline-block;
  height: 100px;
  width: 100px;
  margin: 5px;
  border: gray 3px solid;
}

@keyframes playingAnimation {
    0% {
        border: gray 3px solid;
        height: 100px;
        width: 100px; 
    }
    50% {
        border: yellow 3px solid;
        height: 120px;
        width: 120px; 
    }
    100% {
        border: gray 3px solid;
        height: 100px;
        width: 100px; 
    }
}

.playing {
    animation: playingAnimation .4s;
}

.sound-key {
  display: inline-block;
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.sound-name {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 1;
  background-color: yellow;
}
